project_name  = "starttech"
aws_region    = "us-east-1"
backend_image = "ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com/starttech-backend:latest"
mongo_uri     = "mongodb+srv://USER:PASSWORD@cluster.mongodb.net/starttech?retryWrites=true&w=majority"
jwt_secret    = "change-this-secret"
